:root{
  --black-color: #121212;
  --grey-color: #EFEFEF;
  --dark-grey-color:#2f2f2f;
  --white-color: #ffffff;
  --accent-color: #595FF3;

  --font-size-big: 5rem;
  --font-size-large: 3rem;
  --font-size-medium: 2rem;
  --font-size-small: 1rem;

  --font-family-heroBanner:'MinionPro';
}

*{
  margin: 0;
  padding: 0;
  font-family: 'louisGeorgeCafe';
}

@font-face {
  font-family: 'louisGeorgeCafe';
  src: url('./assets/fonts/LouisGeorgeCafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro';
  src: url('./assets/fonts/MinionProSemibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}